
# SQLite database
db.sqlite3
db.sqlite3-journal

# Collected static files
staticfiles/

# Python cache files
__pycache__/

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Coverage
.coverage
.coverage.*
coverage.*
htmlcov/

# Dump file
*.stackdump

#vscode
.vscode