@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');


:root {
    --mainblue: #217de7;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body, input {
    font-family: 'Rubik', sans-serif;
    background-color: #FBFBFB;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #111111;
    color: white;
    padding: 1em 20vw;
    width: 100%;
    position: fixed;
    top: 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 3;
    
}

.logo {
    width: 1.2em;
    margin-right: 0.5em;
}

.nav-brand {
    display: flex;
    
}

.logotype {
    font-weight: bold;
    font-size: 1.4em;
    color: white;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    
}

.nav-list li:last-child {
    margin-left: 1em;

}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    padding: 1em 1rem 2em 1rem;
    /* overflow-y: scroll; */
    height: 100%;
}

.schedule-img {
    width: 100%;
    padding: 0em 3em;
}

.table-wrapper {
    display: flex;
    align-items: flex-end;
}

.table {
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px 5px 0 0;
    margin-top: 1em;
    overflow: hidden;

}

.table th, .table td {
    padding: 1.5em 2em;

}

.table-header th {
    background-color: #217de7;
    color: white;
    text-align: left;
    padding: 1.3em 2em;

}

.table-header th:last-child {
    padding: 1.7em 2em 1.7em 1.2em;
}

.table-body tr:nth-child(even) {
    background-color: #eef6ff;
}

.table-body tr td:last-child {
    padding: 1.7em 2em 1.7em 1.2em;
}

.table-body tr:last-of-type {
    border-bottom: 3px solid #1c67bd;
}

.table-body tr td a {
    color: black;
    font-weight: bolder;
}

.table-body tr td a:hover {
    color: #2b60f3 !important;
}

.table-body tr td p{
    margin: 0.5em 0 !important;
}

.table-task {
    display: flex;
    justify-content: space-between;
}

.table-edit {
    display: flex;
    visibility: hidden;
}

.course-add-button {
    margin: 0 0 0.3em 0.5em;
    background: #0D6EFD;
    color: white;
    padding: 1em;
    border-radius: 5px;
    width: 1.7em;
    height: 1.7em;
    padding: 0.3em;
    cursor: pointer;
}

.img-jadwal {
    width: 100%;
}

.task {
    display: flex;  
    margin-bottom: 0.5em;
    justify-content: space-between;
}

.task-input {
    font-family:'Rubik', sans-serif ;
    font-size: 1em;
    border: none;
    border-bottom: #217de7 2px solid;
    background-color: transparent;
}

.task-input:focus {
    outline: none;
    border-bottom: #217de7 2.5px solid;
}

.task-input::placeholder {
    color: #96bfff;
}

.task-group {
    display: flex;
}

.task-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.7em;
}

.task-buttons svg {
    cursor: pointer;
    color: #217de7;
}

.task-duedate {
    margin-left: 1em;
}

.task-form {
    display: flex;
    margin-bottom: 0.5em
}

.task-form > svg {
    margin-right: 0.4em;
}

.task-add-icon {
    margin-right: 0.7em;
}

.task-add {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.task-add > span, .task-add-icon {
    color: #96bfff;
}

.course-buttons {
    display: flex;
    column-gap: 0.5em;
    margin-top: 0.5em;
}

.edit-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 1.5em;
    height: 1.5em;
    padding: 0.3em;
    background-color: #FAFAFA;
}

.edit-button.active {
    background-color: #217DE7;
}

.edit-icon {
    background:#ff1b54;
    padding: 1em;
    border-radius: 5px;
    border-radius: 5px;
    width: 1.5em;
    height: 1.5em;
    padding: 0.3em;
    cursor: pointer;
    background: #FAFAFA;
    color: #217DE7;
}

.edit-icon.active {
    color: #fafafa;
    background: #217de7;
}

.delete-icon {
    background:#ff1b54;
    color: white;
    padding: 1em;
    border-radius: 5px;
    border-radius: 5px;
    width: 1.5em;
    height: 1.5em;
    padding: 0.3em;
    cursor: pointer;
}


.checkbox-wrapper {
    display: flex;
    width: max-content;
    align-items: center;
}

.checkbox {
    appearance: none;
    -webkit-appearance: none;
    border: #217de7 3px solid;
    border-radius: 5px;
    height: 1.3em;
    width: 1.3em;
    cursor: pointer;   
    margin-right: 0.7em;
}

.checkbox:checked {
    background-color: #217de7;  
}

.checkbox:checked::after {
    content: '';
    border: solid white;
    border-width: 0 2.5px 2.5px 0;
    transform: rotate(45deg);
    width: 4px;
    height: 8px;
    display: block;
    margin: 0 0 0 2.5px;
}

.checkbox:focus {
    outline: none; 
}

.checkbox-label {
    color: #217de7;
    cursor: pointer;
    
}


.link {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.3em;
}

.link-a {
    text-decoration: none;
}

.link-a:hover {
    color: #f80606 !important;
}

.edit:hover {
    color: black !important;
}

.activity-group {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.25); /* Black w/ opacity */
}

.modal-box {
    background: white;
    border-radius: 5px;
    min-width: 20em;
}

.link-form {
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.close-button {
    cursor: pointer;
    fill: rgb(104, 104, 104);
}

.form-field {
    display: block;
    margin-bottom: 1em;
}

.form-label {
    margin-bottom: 0.3em;
}

.form-input {
    background: #EEF6FF;
    border: 0.7px solid #5C5C5C;
    border-radius: 4px;
    padding: 0.5em 1em;
    width: 100%;
}

.button-fill, .button-outline {
	border-radius:4px;
	cursor:pointer;
	padding:10px 31px;
    text-decoration:none;
    margin-bottom: 1em ;
    min-width: 8em;
    text-align: center;
    font-size: .9em;
}

.button-fill {
	background-color:#0D6EFD;
	border:1px solid #ffffff;
	color:#ffffff;
}
.button-fill:hover {
    background-color:#2b80ff;
    text-decoration:none;
	color:#ffffff;
}

.button-fill:active, .button-outline:active {
	position:relative;
	top:1px;
}

.button-fill:disabled {
    background-color:#e0dfdf;
    color:#7c7c7c;
    cursor: auto;
}

.button-outline {
	background-color:#ffffff;
	border:1px solid #0D6EFD;
	color:#0D6EFD;
}

.button-outline a {
    color: #0D6EFD;
}

.button-outline:hover {
    background-color:#0D6EFD;
    color: #ffffff;
    text-decoration: none;
}

.button-outline:hover a {
    color: #ffffff;
}




